html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;

}

header {
    width: 100%;

    margin-bottom: 30px;
    text-align: center;
}

#Logo {
    width: 40%;

}

nav {
    background-color: #5C9EAD;
    position: sticky;
    top: 5px;
    width: 100%;
    padding-top: 10px;

}

a {
    color: black;
    text-decoration: none;
    margin: 20px;
}

#links {
    text-align: center;
    transition: transform .5s ease;
}

#links:hover {
    transform: scale(1.1);
}

hr {
    width: 75%;
}

.shoes {
    width: 25%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px -5px 5px grey;
    transition: transform .5s ease;

}

.shoes:hover {
    transform: scale(1.1);
}

.row {

    text-align: center;
    overflow: hidden;

}

#nachOben {
    width: 20%;
    float: right;
    transition: transform .5s ease;
}

#nachOben:hover {
    transform: scale(1.1);
}